/* shared menus */

/* header */

#shared-header a:link,
#shared-header a:visited {
  font-family: "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
  color: black;
  text-decoration: none;
}

#shared-header a:active,
#shared-header a:hover {
  font-family: "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
  color: #90F;
  text-decoration: none;
}

#shared-header {
  height: 65px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 9px;
  background-image: url(images/logo.png);
  -webkit-box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .75);
  box-shadow:  0px 2px 2px 0px rgba(0, 0, 0, .75);
  margin-bottom: -16px;
  position: relative;
  z-index: 666;
}

#shared-header.tablet {
  background-image: none;
}

#shared-header.tablet ul {
  margin-left: 0;
}

#shared-header.mobile {
  background-image: none;
  height: auto;
}

#shared-header.mobile ul {
  margin-left: 0;
  float: none;
}

#shared-header.mobile li {
  display: inline;
  padding: 0;
}

#shared-header.mobile #shared-header-search {
  display: none;
}

#shared-header ul:before {
  content: 'Our network:';
  position: absolute;
  top: 1em;
  left: .5em;
  color: #777;
}

#shared-header.mobile  ul:before {
  display: none;
}

#shared-header ul {
  margin: 0 0 0 140px;
  padding: 0;
  float: left;
  position: relative;
}

#shared-header li {
  display: inline-block;
  margin: 0 0 0 6px;
  padding: 29px 6px 0 0;
}

/* header search */

#shared-header-search {
  float: right;
  width: 260px;
}

#shared-header-search form {
  display: inline-block;
  border: 1px solid black;
  background-color: #e8e8e8;
}

#shared-header input[type="text"] {
  background: transparent;
  border: 0;
  width: 203px;
  height: 19px;
}

#shared-header input[type="text"]:focus {
  background-color: white;
}

#shared-header input[type="submit"] {
  background: transparent url(//unicornpoo.alliedmedia.org/headerfooter/search.png) no-repeat 50% 50%;
  border-radius: 0;
  border: 0;
  text-indent: -138em;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 19px;
  width: 19px;
}

#search-chooser {
  visibility: hidden;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 8px;
  background: transparent url(//unicornpoo.alliedmedia.org/headerfooter/purp_tri.png) no-repeat 4em 0;
}

#search-chooser a {
  outline: 0;
}

#shared-header-donate {
  display: block;
  float: right;
  background: #ff3f00;
  color: white;
  font: 20px/26px TitilliumText22LMedium;
  text-align: center;
  width: 130px;
  height: 65px;
  padding: 0 !important;
  position: relative;
  z-index: 888;
}

#shared-header-donate:link,
#shared-header-donate:visited,
#shared-header-donate:active,
#shared-header-donate:hover {
  color: white !important;
  text-decoration: none !important;
}

#shared-header-donate:hover {
  background-image: url(//unicornpoo.alliedmedia.org/headerfooter/glitter.gif);
}

#shared-header-donate:after {
  display: block;
  content: '';
  width: 130px;
  height: 5px;
  background: transparent url(//unicornpoo.alliedmedia.org/headerfooter/redborder.png) repeat;
  position: absolute;
  top: 65px;
  z-index: 9999;
}

#sparkles {
  background: transparent url(http://images2.layoutsparks.com/1/124954/glitter-flash-stars-blue.gif);
  height: 80px;
  width: 180px;
  z-index: 777;
}

#shared-header.mobile #shared-header-donate {
  display: inline-block;
  height: auto;
  width: auto;
  float: none;
  font-size: 12px;
  padding: 0 6px !important;
  margin-bottom: 4px;
}

#shared-header.mobile #shared-header-donate:after {
  display: none;
}

/* shared footer */

#shared-footer {
  background: black;
  color: #8c8c8c;
  border-top: 20px solid black;
  padding: 0 0 0 30px;
  font: 16px/20px normal "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
}

#shared-footer a {
  font-family: "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
}

#impressum {
  margin-bottom: 15px;
}

#shared-footer a:link,
#shared-footer a:visited {
  color: white;
  background: inherit;
}

#shared-footer a:active,
#shared-footer a:hover {
  color: #90f;
  background: inherit;
}

#shared-footer small {
  display: block;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

#shared-footer strong {
  font-family: "TitilliumText22LRegular", Verdana, Geneva, "DejaVu Sans",  sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
}

#shared-footer h3 {
  font-size: 20px;
  line-height: 22px;
  color: #90f;
}

/* footer */


#shared-footer ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

#shared-footer > ul#impressum > li {
  width: 220px;
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

#shared-footer li {
  font-size: 13px;
  line-height: 15px;
}

#shared-footer > ul > li > span {
  text-transform: uppercase;
}

#shared-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#shared-footer a:link,
#shared-footer a:visited {
  color: white;
  text-decoration: none;
}

#shared-footer a:active,
#shared-footer a:hover {
  color: #9000ff;
  text-decoration: underline;
}

#shared-footer h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font: 13px/15px normal "TitilliumText22LRegular";
  text-transform: uppercase;
  color: #8c8c8c;
}

#footer-networklinks {
  margin-top: 15px;
  border-top: 1px solid #8c8c8c;
  padding: 15px 0;
  font-size: 16px;
}

#footer-networklinks li {
  display: inline;
}

#footer-networklinks a {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  padding-left: 36px;
}

#shared-footer ul#impressum .feed-icon {
  color: #8c8c8c;
  display: block;
  margin-top: 10px;
  font-size: 11px;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background: url(images/rss.png) no-repeat;
}

#shared-footer li img {
  padding-right: 5px;
}

#shared-footer form {
  margin: 0;
  padding: 0;
}

#shared-footer input {
  margin: 3px 0 0 0;
  padding: 0;
}

#shared-footer input[type="text"] {
  width: 160px;
  display: block;
}

#shared-footer input[type="submit"] {
  background: transparent url(//unicornpoo.alliedmedia.org/headerfooter/subscribe.png) no-repeat 0 0;
  border-radius: 0;
  border: 0;
  text-indent: -138em;
  overflow: hidden;
  padding: 0;
  margin: 8px 0 0 0;
  display: inline-block;
  height: 16px;
  width: 56px;
}

