<% function link(link) { %>
<li><a href='<%= link.url %>' title='<%= link.title %>'><%= link.text %></a></li>
<% } %>
<ul id='shared-header'>
  <% links.map(link) %>
<li>
<form action='http://google.com/search' method='get' accept-charset='UTF-8'>
<input type='text' name='q' value='' size='17' maxlength='255'>
<input type='submit' name='op' value='Search'>
<input type='hidden' name='q' value='site:alliedmedia.org' />
</form>
<span id='search-chooser'>
<a id='search-all' href='#' style='font-size:.8em;text-transform: uppercase;outline:0;background:#fef100'>All AMP sites</a>
<span style='font-size:.8em;text-transform:uppercase;'> or </span>
<a id='search-this' href='#' style='font-size:.8em;text-transform:uppercase;outline:0'>This site</a>
</span>
</li>
</ul>
